{% extends "booking_site/base.html" %}

{% block content %}

<div class="container">
  <h1>一覧ページ</h1>
  <hr class="my-4">

  <div class="card-deck">
    <div class="row">
      {% for item in books %}
      <div class="col-sm-3">
        <div class="card text-center">
          <img class="card-img-top" src="{{ item.img_url }}" alt="{{ item.title }}">
          <div class="card-body">
            <!-- <h4 class="card-title">{{ item.title }}</h4> -->
            {% if item.pk in borrow_title_id %}
            <a href="{% url 'booking_site:books_detail' item.pk %}" class="btn btn-warning">貸出中</a>
            {% if request.user.id in borrow_user_id and item.pk in own_book%}
            <a href="{% url 'booking_site:back' item.pk %}" class="btn btn-danger">返却</a>
            {% endif %}
            {% else %}
            <a href="{% url 'booking_site:borrow' item.pk %}" class="btn btn-primary">借りる</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}